body {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth;
  background-color: #020f18;
}

::-webkit-scrollbar-thumb {
  background-color: #39474bc0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
